<div class="product p-3 rounded-3  overflow-hidden  ">
  <div class="cursor-pointer" [routerLink]="['/product-details/'+product._id]">
    <img [src]="product.imageCover" class="w-100" [alt]="product.title">
    <p class="text-main">{{product.category.name}} </p>
    <h5 class="text-wrap w-100"  >{{product.title | title}}</h5>
    <div class="d-flex justify-content-between">

      <p>{{product.price | currency:'EGP'}}  </p>
      <p>
        {{product.ratingsAverage}}
        <i class="fa-solid fa-star rating-color ms-1"></i>
      </p>
    </div>
  </div>
  <button class="btn btn-product w-100 bg-main text-white">Add to Cart</button>
</div>